<p id="notice"><%= notice %></p>

<h1>Experiments</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Experiment</th>
      <th>Name</th>
      <th>Image</th>
      <th>User id</th>
      <!--
      <th colspan="3"></th>
      -->
    </tr>
  </thead>

  <tbody>
    <% @experiments.each do |experiment| %>
      <% if experiment.user == current_user %>
        <tr>
          <td><%= link_to experiment.experiment_id, experiment %></td>
          <td><%= experiment.name %></td>
          <td><%= experiment.image %></td>
          <td><%= experiment.user_id %></td>
          <!--
          <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
          <td><%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          -->
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiment', new_experiment_path, class: "btn btn-secondary" %>
