<p id="notice"><%= notice %></p>

<p>
  <strong>Experiment:</strong>
  <%= @experiment.experiment_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @experiment.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @experiment.image %>
</p>

<p>
  <strong>Config:</strong>
  <%= @experiment.config %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment), class: "btn btn-secondary" %>
<%=
  link_to 'Delete',
  @experiment,
  method: :delete,
  data: { confirm: 'Are you sure?' },
  class: "btn btn-danger"
%>
